{{page-title "Add"}}
<div class="ui segment">
  <form class="ui form">
    <h4 class="ui dividing header">Ajouter une section</h4>
    <div class="field">
      <label>Name</label>
      <Input type="text" name="first-name" placeholder="Nom Section" @value={{@model.name}}/>
    </div>

    <LinkTo class="ui button" @route="section">Annuler</LinkTo>
    <button class="ui button" {{action 'addSection' @model}}>Ajouter</button>
  </form>
</div>

{{outlet}}