{{page-title "Store"}}
{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}
<div class="ui inverted basic segment menu" id="topBar">
  <LinkTo @route="board" class="item">Home</LinkTo>
  <LinkTo class="ui button item" @route="section">Section</LinkTo>
  {{#if this.userAuth.user}}
    <div class="right menu">
      <span class="ui item inverted">{{this.userAuth.user.email}}</span>
      <button class="ui item button" {{action "logout"}}>
        Logout
      </button>
    </div>
  {{/if}}
</div>

<div class="ui container">
  {{outlet}}
</div>

