{{page-title "Categories"}}

<!--
<table class="table table-striped table-dark">
  <thead>
  <tr>
    <td>Nom Categorie</td>
  </tr>
  </thead>
  <tbody>
  {{#each @model as |categorie|}}
    <tr>
      <td>{{categorie.name}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
-->

<BsTab as |tab|>
  <tab.pane @title="Tab 1">
    <p>onlget1</p>
  </tab.pane>
  <tab.pane @title="Tab 2">
    <p>onglet2</p>
  </tab.pane>
</BsTab>
{{outlet}}