{{page-title "Categories"}}
<BsTab as |tab|>
  {{#each @model as |categorie|}}
    <tab.pane @title="{{categorie.name}}">
      <p>{{categorie.name}}</p>
    </tab.pane>
  {{/each}}
</BsTab>
{{outlet}}